[receive]
	requireChangeId = true
[submit]
	action = fast forward only
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group externaldev
	label-Code-Review = -2..+2 group opteamReviewers
	label-Code-Review = -2..+1 group contributors
	label-Code-Review = -2..+1 group opteam
	label-Verified = -1..+1 group externaldev
	label-Verified = -1..+1 group opteam
	submit = group externaldev
	submit = group opteamReviewers
	read = group Anonymous Users
[access "refs/heads/apef"]
	label-Code-Review = -2..+2 group apefbranch
	label-Verified = -1..+1 group apefbranch
	submit = group apefbranch
[access "refs/heads/preferences"]
	label-Code-Review = -2..+2 group preferencesbranch
	label-Verified = -1..+1 group preferencesbranch
	submit = group preferencesbranch
[access "refs/tags/*"]
	pushTag = group Administrators
[access "refs/tags/preferences"]
	pushTag = deny group preferencesbranch
[access "refs/heads/android"]
	label-Code-Review = -2..+2 group android
	label-Verified = -1..+1 group android
	submit = group android
[access "refs/heads/gsoc2012-interactions"]
	label-Code-Review = -2..+2 group graphic2012-interactions
	label-Verified = -1..+1 group graphic2012-interactions
	submit = group graphic2012-interactions
[access "refs/heads/testing"]
	label-Code-Review = -2..+2 group android
	label-Verified = -1..+1 group android
	submit = group android
	read = group android
[access "refs/for/refs/heads/testing"]
	push = group android
[project]
	state = active
[access "refs/heads/richelieu"]
	push = deny group Registered Users
	push = group richelieu
	read = deny group Anonymous Users
	read = deny group Registered Users
	read = group richelieu
	forgeAuthor = deny group Registered Users
	forgeAuthor = group richelieu
